{{!-- The head and site navigation. --}}
<header>
  <div class="container navbar">
    <h2>Legacy Roleplay</h2>
  </div>
</header>

{{!-- Main content container. --}}
<main class="container">
  {{outlet}}
</main>