<h1>Woho! You are currently logged in with <strong>Steam</strong>.</h1>
<p>
  {{#if currentUser.user}}
    <p>Hello there, <strong>{{currentUser.user.name}}</strong>, your steam profile is <a href={{currentUser.user.steamProfile}}>{{currentUser.user.steamProfile}}</a>!</p>
  {{else}}
    <h2>No user.</h2>
  {{/if}}
</p>

<p>
  {{#link-to "test"}}Go to test{{/link-to}}.
</p>