<div class="outer-container container">
  <h1>Hey there, <strong>{{currentUser.user.name}}</strong>! Start viewing our servers.</h1>

  <p>
    <p>Hello there, <strong>{{currentUser.user.name}}</strong>, your steam profile is <a href={{currentUser.user.steamProfile}}>{{currentUser.user.steamProfile}}</a>!</p>
  </p>

  <p>
    {{#link-to "players.index"}}Go to players{{/link-to}}.
  </p>
</div>