<div class="section section-blue">
  <div class="outer-container container">
    <div>
      <h2>Search our servers for a player</h2>
      <p>
        Use the dropdown below to search our servers for a player. It accepts a <strong>steam name</strong> or <strong>HEX-id</strong>.
      </p>
    </div>

    {{!-- Searching for players with a nice power-select dropdown menu --}}
    {{#power-select
        placeholder   = "Marius Truckster | steam:11000010df22c8b"
        selected      = selected
        search        = (action "search")
        onchange      = (action "select") as |player|}}

      {{player.name}} ({{player.identifier}})
    {{/power-select}}
  </div>
</div>

{{outlet}}