<div class="hero hero-bg">
  <div class="outer-container container">
    {{!-- Searching for players with a nice power-select dropdown menu --}}
    {{#power-select
        placeholder   = "Marius Truckster | steam:11000010df22c8b"
        selected      = selected
        search        = (action "search")
        onchange      = (action "select") as |player|}}

      {{player.name}} ({{player.identifier}})
    {{/power-select}}
  </div>
</div>

{{outlet}}