<div class="hero hero-bg">
  <div class="outer-container container">
    {{!-- Searching for users with a nice power-select dropdown menu --}}
    {{#power-select
        selected      = selected
        searchEnabled = true
        search        = (action "search")
        onchange      = (action (mut selected)) as |player|}}

      {{player.name}} ({{player.identifier}})
    {{/power-select}}
  </div>
</div>

{{outlet}}