// Theming colors.
$primary: #347fc2;

// Enable response font sizes.
$enable-responsive-font-sizes: true;

// Grid containers.
$container-max-widths: (
  sm: 650px,
  md: 780px,
  lg: 990px,
  xl: 1250px
);


// Navbar.
$navbar-padding-y: 0.35rem;
