* {
    box-sizing: border-box;

    /* Reset margin and padding on everything */
    padding: 0;
    margin: 0;

    /* Transitioning on everything */
    transition-duration: 0.125s;
}

html, body, body > div {
    height: 100%;
    height: 100vh;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.15;
    font-size: 18px;

    background-color: #17191A;
    color: rgb(187, 184, 184);
}

body > div {
    /* Flex for allowing a nice setup of header and footer */
    display: flex;
    flex-direction: column;

    /* Fix a bug with IE not stretching completely out */
    min-height: 100vh;
}

button, .button {
    cursor: pointer;
    padding: 10px;
    border: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: rgb(221, 221, 221);
}

a {
    color: #E74843;
    text-decoration: none;
}

a:hover {
    color: rgb(241, 69, 50);
}

p {
    margin-top: 1em;
}

header {
    background-color: #3C2C80;
}

footer {
    flex-shrink: 0;
    background-color: rgb(25, 36, 83);
    padding: 0.5em 0 0.5em 0;
}

main {
    flex: 1 0 auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.container {
    max-width: 65em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em 1em;
}

.center {
    text-align: center;
}

span.red {
    color: red;
}