<h1>Oops...! It looks like you've just hit a wall.</h1>
<p>
  You must be logged in to use this website. That's not hard though. Just use the button below to login with your <strong>Steam profile</strong>. It seamlessly connects
  with your account on our game-server. Easy, right?
</p>

<p>
  <strong><a href="/auth/login/steam">Login with steam now {{fa-icon "steam-symbol" prefix="fab"}}</a></strong>
</p>