<div class="container container-outer">
  <ul>
    {{#each model as |player|}}
      <li>{{player.name}} ({{player.identifier}})</li>
    {{else}}
      <h1>No players found.</h1>
      <p>
        There were no players matching your search. <b>Hint:</b> use HEX-identifiers when searching-- they're more accurate compared to names.
      </p>
    {{/each}}
  </ul>

  <p>
    {{#link-to "index"}}Go to index{{/link-to}}.
  </p>
</div>