<div class="outer-container container">

  <div class="card card-error">
    Banned!
  </div>

  <h1>{{model.name}} ({{model.identifier}})</h1>
  <p>
    This player has a total playtime of <b>5 days, 23 hours, 20 minutes, and 55 seconds</b>.
  </p>
</div>