<div class="outer-container container">

  <div class="card card-error">
    <strong>{{fa-icon "gavel"}} Banned!</strong> Currently banned by Marius Truckster for <i>RDM and VDM + being disrespectful towards staff</i>.
  </div>

  <h1>{{model.name}} ({{model.identifier}})</h1>
  <p>
    This player has a total playtime of <b>5 days, 23 hours, 20 minutes, and 55 seconds</b> spent on Legacy Roleplay.
  </p>
</div>